@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;1,200;1,300;1,600&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{
    font-family: 'poppins';
    scroll-behavior: smooth;
}
body{
    height:100vh ;
}
@import "layout/header";

@import "views/index";
@import "views/galery";
@import "views/login";
@import "views/administratorPage";
@import "views/merchandising"