.sectionForm{
    height: 100vh;
    background-image:url("../assets/pages/login/4k-star-wallpapers-los-mejores-fondos-4k-star-gratis-wallpaperaccess.-imagen-4k-ultra-hd-de-estrellas-1024x576.jpg");
    background-size:cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    filter: grayscale(50%);

    .containerformLogin{
        height: 28vw;
        width: 40vw;
        background-color: rgba(255, 255, 255, 0.459);
        backdrop-filter: blur(4px);

        display: flex;
        gap:2.5vw;
        padding: 2vw;
        flex-direction: column;

        border-radius: 1vw;

        h3{
            font-size: 5vw;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 3vw;

            .inputLogin{
                background-color: black;
                border-radius: .4vw;
                border: none;
                height: 2.8vw;
                padding-left: 1vw;
                color: white;
                transition: all 0.5s;

                &::placeholder{
                    color: rgba(255, 255, 255, 0.445);
                }
                &:focus{
                    background-color: white;
                    color: black
                }
                
            }
        }

    }

    //Para el cambio a negro
    .containerformLoginBlack{
        @extend .containerformLogin;
        background-color: rgba(0, 0, 0, 0.644);

        animation-name: toBlack;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-duration: 0.5s;

        @keyframes  toBlack {
            from{
                background-color: rgba(255, 255, 255, 0.459);
            }to{
                background-color: rgba(0, 0, 0, 0.644);
            }
        }
        h3{
            color: white;
            animation-name: toWhite;
            animation-timing-function: ease-in;
            animation-iteration-count: 1;
            animation-duration: 0.5s;
            
            @keyframes  toWhite {
                from{
                    color: black;
                }to{
                    color: white;
                }
            }
        }
    }
}