
.bgRegister{
    background-image: url("../assets/pages/register/22-225256_476268-title-sci-fi-stars-wallpaper-high-resolution.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.formRegisterBg{
    height: 100vh;
    background: rgb(0,0,0);
background: linear-gradient(52deg, rgba(0,0,0,0.7315301120448179) 22%, rgba(29,6,83,0.6587009803921569) 71%);
    .containerDataRegister{
        padding-top: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3{
            color: white;
            font-size: 8vw;
            margin-left: 2vw;
        }
        span{
            color: white;
        }
        .formRegister{
            margin-top: 8vw;

            width: 80vw;
            display: flex;
            flex-direction: column;
            
            .containerInputRegister{
                width: 50%;
                
                padding: 1vw;
                
                input{
                    width: 100%;
                    border: solid;
                    padding-left: 1vw;

                    font-size: 1.8vw;

                    height: 3vw;

                    border: solid;

                    animation-name: borderAnimation;
                    animation-duration: 1s;
                    animation-timing-function: ease-in;
                    animation-iteration-count: infinite;

                    @keyframes borderAnimation {
                        from{
                            border:solid black  0.5px;
                        }to{
                            border: dashed white  0.5px;
                        }
                        
                    }

                }
                label{
                    position: absolute;
                    transform: translate(1vw,0vw);
                    font-size: 1.8vw;
                }
            }
            
            .inputRegister{
                height: 3vw;
            }
        }
    }
}